.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.text-green {
  text-decoration: none;
  color: #198754;
}

.text-green:hover {
  color: #198754;
}

.text-green:active {
  color: #198754;
}

.text-green::placeholder {
  color: black;
}

.BGlightgreen{
  background-color: #b6f6d8;
}